
body {
    background-color: grey;
}

li {
    display: inline-block;
    width: auto;
    padding: 0 2em;
    // font-family: 'Playfair Display SC', serif;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Playfair Display SC', serif;
    color: rgb(200, 200, 200);
}

i {
    display: inline-block;
    width: auto;
}

h1 {
    font-family: 'Fredericka the Great', cursive;
    color: rgb(200, 200, 200);
    z-index: 4;
}

h2 {
    font-family: 'Nunito', sans-serif;
    // display: inline-block;
    color: white;
    margin: 0em 0.6em;
    font-size: 4em;
}

h3 {
    font-family: 'Nunito', sans-serif;
    font-size: 3em;
    padding: 0.3em;
    text-decoration: underline rgb(35, 74, 92);
}

p {
    font-family: 'Varela Round', sans-serif;
    font-size: 1.5em;
    padding: 0.3em;
    width: 95%;
}

img {
    width: 20em;
    height: 20em;
    border: 0.5em solid rgb(50, 50, 75);
    margin: 1.2em 2.3em;
}