// apply to all
* {
    margin: 0;
    width: 100%;
}

// card section
.card {
    padding-top: 6em;
}

// header section
.header {
    margin: 0 auto;
    width: 70%;
    height: 10vh;
    background-color: rgb(35, 74, 92);
}

// burger navbar button 
.toggle-btn {
    display: none;

    span {
        display: none;
    }
}

// content section
.content {
    margin: 0 auto;
    width: 70%;
    height: 55vh;
    background-color: whitesmoke;
}

// footer section
.footer {
    margin: 0 auto;
    width: 70%;
    height: 5vh;
    background-color: rgb(35, 74, 92);
}

// download cv button show
#download-responsive {
    display: none;
}

.icon-size {
    font-size: 4em;
}

.project-blue {
    color: rgb(35, 74, 92);
}